*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1173px;
  margin: 0 auto;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
}

.nav-items{
  display: flex;
  gap: 40px;
  justify-content: space-around;
  /* border: 2px solid red; */

}

.nav-bar li {
  list-style: none;
}

.nav-bar li a{
  text-decoration: none;
}



/* utilities  */
.primary-btn{
  border: 1px solid red;
    font-size: 1.1rem;
    border-radius: 5px;
    /* padding: 7px; */
    padding-block: 5px;
    padding-inline: 16px;
    background-color: green;
}

.secondary-btn{
  border: 1px solid red;
  font-size: 1.1rem;
  border-radius: 4px;
  /* padding: 7px; */
  /* margin-inlineblock: -; */
  padding-inline: 16px;
  padding-block: 5px;
  margin-inline: 8px;
  background-color: transparent;
}