*{
  padding:0;
  margin: 0;
  box-sizing: 0;
}

.container{
  max-width: 80%;
  background-color: rgb(255, 205, 205);
  min-height: 100vh;
  margin: 0 auto;
}

.nav-bar{
  background-color: rgb(198, 255, 198);
  width:80%;
  height: 40px;
  margin: 0 auto;
}

.nav-items{
  display: flex;
  justify-content: space-around;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: black;
}