*{
  padding:0;
  margin: 0;
  box-sizing: 0;
}

#root {
  --primary-color:#ECF2FF;
  --secondary-color:#e3e0f5;
  /* --third-color :#E5D1FA; */
}

.body{
  background-color: var(--primary-color);
}

.container{
  max-width: 80%;
  background-color: var(--secondary-color);
  min-height: 100vh;
  margin: 0 auto;
}

.nav-bar{
  /* background-color: rgb(198, 255, 198); */
  width:80%;
  height: 40px;
  margin: 0 auto;
}

.nav-items{
  display: flex;
  justify-content: space-around;
  line-height: 40px;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: black;
}